html {
    font-size: 10px;
}
:root {
    --btn-purple: #5C00DC;
    --bkg-purple: #393551;
    --border-grey1: #ccc;
    --border-grey2: #bbb;
    --dark-bg-text: #fff;
}
p {
    font-size: 1.2rem;
}
.App {
    min-width: 320px;
    max-width: 1024px;
    padding-inline: 2.5rem;
    margin-inline: auto;
}
.App-header {
    display: grid;
    grid-template-columns: 9rem auto 10rem;
    gap: 1.6rem;
    margin-block: 3.5rem;
}
.Rainfocus-logo {
    border-radius: 5px;
}
h1 {
    font-size: 3.2rem;
    margin: 0;
}
.App-header-text p {
    font-size: 1.6rem;
    margin-block: 1rem 0;
    line-height: 2.2rem;
}
.Btn-cta1 {
    background-color: var(--btn-purple);
    color: var(--dark-bg-text);
    font-size: 1.4rem;
    max-width: 10rem;
    padding: .8rem 1.6rem;
    border: none;
    border-radius: 5px;
}
.PageHeader {
    margin-block: 3.5rem;
}
.PageHeader h2 {
    font-size: 2.4rem;
}
.PageHeader p {
    font-size: 1.6rem;
}
.OrgSettings {
    margin-block: 3.5rem;
    border-top: 1px solid var(--border-grey2);
    padding-block-start: 2.5rem;
}
.OrgSettings-header h3 {
    padding-inline-start: 5rem;
    font-size: 2rem;
    position: relative;
}
.OrgSettings-header h3:before {
    content:'';
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    left: 0;
    top: 0;
    background-image: url(images/person-icon.png);
    background-size:contain;
}
.Steps-con {
    margin-block: 3rem;
}
.Steps-con h4 {
    font-size: 1.4rem;
    font-weight: 400;
}
.StepsContent-con { 
    display: grid;
    gap: 1.6rem;
}
.ChildWidth33 {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-template-rows: auto;
}
.Contentsection-con {
    border: 1px solid var(--border-grey1);
    border-radius: 5px;
    display: grid;
}
.ChildWidthFull .Contentsection-con {
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    grid-template-rows: auto;
    padding-block: .5rem;
}
.ChildWidthFull .Subsection {
    padding: 1.6rem 2.4rem;
}
.ChildWidth33 .Subsection, .ChildWidthMixed .Subsection {
    padding: 2.4rem 3.2rem 3.5rem;
}
.ChildWidth33 button.Subsection {
    padding: 3.3rem 3.2rem 4.3rem;
    background: none;
    border: none;
}
.Subsection h5 {
    font-size: 1.3rem;
    margin-block: .4rem;
    display: flex;
    gap: 12px;
    flex-wrap: nowrap;
}
.Subsection p {
    font-size: 1.2rem;
    margin-block: .4rem;
}
.Bg-purple {
    background-color: var(--bkg-purple);
}
.ChildWidthMixed {
    padding: 4rem;
}
.Darkbg {
    color: var(--dark-bg-text);
}
.ChildWidthMixed .Contentsection-con:first-child {
    grid-area: mixChild1;
}
.ChildWidthMixed .Contentsection-con:nth-child(2) {
    grid-area: mixChild2;
}
.ChildWidthMixed .Contentsection-con:nth-child(3) {
    grid-area: mixChild3;
}
.ChildWidthMixed .Contentsection-con:nth-child(4) {
    grid-area: mixChild4;
}
.ChildWidthMixed .Contentsection-con:nth-child(5) {
    grid-area: mixChild5;
}
.ChildWidthMixed {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "mixChild1 mixChild1 mixChild1 mixChild2 mixChild2 mixChild2"
        "mixChild3 mixChild3 mixChild4 mixChild4 mixChild5 mixChild5";
    gap: 2.2rem;
}
@media only screen and (max-width:767px) {
    h1 { font-size: 2.4rem;}
    .ChildWidthMixed {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "mixChild1" "mixChild2"
            "mixChild3" "mixChild4" "mixChild5";
    }
}
@media only screen and (max-width:479px) {
    .App { padding-inline: 1.5rem;}
    .App-header img { grid-area: logo;}
    .App-header div:first-child { grid-area: heading;}
    .App-header div:last-child { 
        grid-area: cta;
        text-align: center;
    }
    .App-header {
        grid-template-columns: 9rem auto;
        grid-template-areas: 
            "logo heading"
            "cta cta";
    }
    .ChildWidthMixed {
        padding: 2rem;
    }
}